.container-fluid{
    padding: unset;
}

body{

   
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );

}


/* css for headers */
.banner{
    background-color: rgb(38, 38, 94);
    color: white;  
    padding: 1%;
    width:100%;
    
}


#logo{
    float: left;
    width: 100px;
    /*font-size: 80px;*/
}

#logo i{
     font-size: 80px;
}
/* css for headers ends */





/* css for navigation bar */
.custnav{

    background-color:rgba(168, 163, 163, 0.15);
    color:black;
}

.cusnavlink{

    text-transform: uppercase;
    letter-spacing: 2px;
    color:white;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  
    color: blue;
}


.nav-item{
    margin-left:35px;
}
/* css for navigation bar ends */




/* footer section */
footer{
    background-color: rgb(38, 38, 94);
    width: 100%;
    color: white;
    text-align: center;
    bottom: 0;
    padding: 1%;

}

.social {
    list-style-type: none;
    padding-top: 1%;
   
   
}
.social li{
    display: inline;
    
}

/* footer section ends */