
/* index page start */

/* login Content home */

.loginContent{
     margin: 2% auto;
     padding:2%;
}

.login{
    border: 1px solid rgba(168, 163, 163, 0.397);
    border-radius:2%;
       
}

.login h3{
    padding: 2%;
    margin-top: 2%;
}

.login:hover{
    border:1px solid lightblue;
}

#unsetUnder{
    text-decoration: none;
}



#box1,#box2,#box3{
    border:1px solid lightgray;
    border-radius: 2%;
}
#box1:hover,:hover#box2:hover,#box3:hover{
    border:1px solid;
    cursor: pointer;
    border-radius: 2%;
}

/* login Content home ends */

.aca-slogan{
    margin:3%;
}

.academicImg{

    width:100%;
}

.aca-profile{
    padding: 2%;
}
/* login content */

/* index ends */

/* about us page*/
.about-border {
    display: block;
    width: 300px;
    height: 4px;
    background: black;
}

.aboutHead,.contactHead{
    width: 100%;
    padding: 2%;
    background-color: cadetblue;    
}

.visandmiss,.placement,.extras,.compList
{
    margin:4% auto;
    width: 90%;
}

.compList{
    width:70%;
}

/* about page ends */

.profilePic{
    width:80%;
   margin: 50px auto;
    /* height: 200px; */
}

/* contact us page */


.info-box
{
    
    padding: 1%;
    text-align: center;
    box-shadow: 0 0 10px;
    display: block;
    margin:4%;
}

.enquiryNow
{
    width: 60%;
    border: 1px solid lightgray;
    padding: 2%;
    margin: 4% auto; 
    box-shadow: 0 0 15px;
    border-radius: 1%; 
}


.enquiryNow:hover{
    border-color: lightblue;
}



/* contact us page ends */



/*login success page*/
.welMsg{
    margin-bottom:10%;
}

/*login success page ends*/

.img-responsive
	{
	width:100%;
	height:100%;
	padding:2%;
	margin-left:1%;
	}

	.img-responsive:hover
	{
	opacity:0.5;
	}

	.gallery span 
	{
    position: absolute;
    top: 50%;
    left: 50%;
    color:white;
    font-size:100%;
    display:none;
    }


/* register page starts */

#register,.forgetPass{
    margin:4% auto;
    width:60%;
    border:1px solid lightgray; 
    padding:2%;
    border-radius: 1%;  
}
/* register page ends */



/*mech dept page starts*/
.mech{
    width:50%;
    margin:4% auto;
}
.mechHead{
    width:40%;
    margin:0 auto;
}
/*mech dept page ends*/

/* dept page starts */
.deptPad{

    padding :2%;
    width: 90%;
    margin:0 auto;
}
/* dept page ends */


@media(max-width: 600px) {

    .enquiryNow{
        width:94%;
    }

    .info-box
    {
        
        padding: 1%;
        text-align: center;
        box-shadow: 0 0 10px;
        display: block;
        margin:4% auto;
    }

    #register{
        width:96%;
        padding:2%;
    }

    #logo{
        float:unset;
        width: 100px;
        align-items: center;
        margin-left: 47%;
    }
    .placement{
       flex-direction: column-reverse;
    }

}